.tree-list {
	list-style-type: none;
	padding: 0;
	margin-left: 16px;
}

.jar-view > .tree-list {
	margin-left: 0;
}

.list-item {
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	flex-grow: 0;
	line-height: 1.5em;
	align-items: center;
	cursor: pointer;
}

.item-title {
	margin: 0 5px;
}

.fold-icon {
	color: var(--vscode-icon-foreground);
	width: 1.25em;
	height: 1.25em;
}

.type-icon {
	width: 1.25em;
	height: 1.25em;
}

.package { color: var(--vscode-symbolIcon-packageForeground) }
.class { color: var(--vscode-symbolIcon-classForeground) }
.file { color: var(--vscode-symbolIcon-fileForeground) }
.folder { color: var(--vscode-symbolIcon-folderForeground) }
